<div class="d-flex align-content-start flex-wrap">
  <div *ngFor="let user of users | async" class="card text-white bg-dark mb-1 " style="max-width: 18rem; margin: 5px !important;">
    <div class="card-header">Id: {{user.id}}</div>
    <div class="card-body">
      <p class="card-text">Username: {{user.username}}</p>
      <p class="card-text">Password: {{user.password}}</p>
      <button class="btn btn-danger">Delete</button>
      <button class="btn btn-info" style="margin-left: 10px">Update</button>
    </div>
  </div>
</div>